rules_version = '2';
service cloud.firestore {
match /databases/{database}/documents {

// STAFF → read only (safe)
match /staff/{docId} {
  allow read: if true;
  allow write: if false;
}

// ATTENDANCE → allow create/update but prevent delete
match /attendance/{docId} {
  allow read: if true;
  allow create: if true;
  allow update: if true;
  allow delete: if false;
}

// SETTINGS → read only
match /settings/{docId} {
  allow read: if true;
  allow write: if false;
}

}
}
